.compre-conosco {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    gap: 7em;
}

.foto {
    width: 400px;
    border-radius: 15px;
}

.compre-conosco__subfoto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: .5em 0;
}

.subfoto {
    width: 80px;
    border-radius: 15px;
}

.compre-conosco__descricao {
    padding-top: 3em;
    width: 400px;
}

.love-photos {
    color: var(--azul);
}

.compre-conosco__titulo {
    font-size: 2.5em;
    font-weight: 700;
}

.compre-conosco__texto {
    padding: 2em 0;
}

.compre-conosco__preco {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--verde);
}

.compre-conosco__compras {
    padding: 2em 0;
    display: flex;
    align-items: center;
    gap: 3em;
}

.compre-conosco__quantidade {
    display: flex;
    align-items: center;
    padding: 1em 0;
    gap: 1em;
}

.plus-minus {
    padding: .3em 1em;
    background-color: var(--cinza-botao);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.fa-plus,
.fa-minus {
    color: var(--preto);
}

.compre-conosco__adicionar {
    cursor: pointer;
    padding: 1.3em 2em;
    font-weight: 700;
    color: var(--branco);
    background-color: var(--azul);
    border: none;
    border-radius: 10px;
}

.swiper-button-prev {
    margin-left: 7em;
}

.swiper-button-next {
    margin-right: 7em;
}

.barra-pesquisa {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    width: 40%;
    margin: 1em;
    padding: .5em;
    border-radius: 25px;
}

.text::placeholder {
    padding-left: 1em;
}

.card {
    text-align: center;
    padding: .5em;
    width: 500px;
    border-left: 1px solid var(--cinza);
    border-right: 1px solid var(--cinza);
    border-radius: 2px;
}

.card__produto {
    font-weight: 700;
    padding: .5em;
}

.card__produto:hover {
    background-color: var(--cinza-branco);
}

.card__produto-link {
    text-decoration: none;
    color: var(--preto);
}

.hide {
    display: block;
    text-align: center;
}

.show {
    display: none;
    text-align: center;
}


@media screen and (max-width: 1024px) {

    .show {
        display: block;
        text-align: center;
    }

    .hide {
        display: none;
        text-align: center;
    }

    .foto {
        margin: 0;
    }

    .compre-conosco__subfoto {
        display: none;
    }

    .compre-conosco__foto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .compre-conosco__descricao {
        padding: 0;
    }

    .swiper-button-prev {
        margin: 0;
    }
    
    .swiper-button-next {
        margin: 0;
    }

    .compre-conosco {
        gap: 0;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .compre-conosco__titulo {
        margin-bottom: .5em;
    }

    .compre-conosco__visualizacao {
        margin-top: 0;
    }

    .compre-conosco__descricao {
        margin-top: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .compre-conosco__compras {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2em;
    }

    .compre-conosco__preco {
        padding: 0;
        margin: 0;
    }

}



