.contato {
    border-top: 1px solid var(--cinza-claro);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 1em;
}

.contato__textos,
.contato__fone {
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em 0;
}

.contato__titulo-2 {
    margin-top: 1.5em;
}

.contato__texto {
    padding-top: 1em;
}

.contato__numero {
    padding: 1em 0;
}

.contato__link {
    color: var(--preto);
    font-weight: 700;
}

@media screen and (max-width: 1024px) {

    .contato {
        display: flex;
        flex-direction: column;
    }

    .contato__titulo {
        padding: 1em 0 1em 0;
    }

    .contato__texto {
        padding: 0 3em;
    }

    .contato__titulo-2 {
        padding: 0;
        margin-top: .5em;
    }

}


