.entrega-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.entrega {
    margin-top: 5.2em;
    align-items: center;
    border: 1px solid var(--cinza);
    border-radius: 20px;
    width: 500px;
    display: flex;
    padding: 1em;
}

.entrega__textos {
    padding-right: 2em;
}

.entrega__titulo {
    padding: 0 .5em;
}

.entrega__texto {
    padding: 1em .5em;
}

.entrega__icone {
    display: flex;
    align-items: center;
    padding: 1em;
}

.fa-truck {
    font-size: 5em;
}

.fa-instagram {
    font-size: 5em;
}

.instagram {
    font-weight: 700;
    color: var(--preto);
}


