.cabecalho__desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 10em;
    border-bottom: 1px solid var(--cinza-claro);
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    gap: 4em;
}

.cabecalho__titulo {
    font-weight: 700;
}

.cabecalho__lista {
    display: flex;
    list-style: none;
    gap: 1.5em;
}

.cabecalho__item-link {
    text-decoration: none;
    color: var(--cinza);
    font-weight: 500;
    transition: .8s all;
}

.cabecalho__item-link:hover {
    color: var(--preto);
}

.cabecalho__icones {
    display: flex;
    align-items: center;
    gap: 2em;
}

.cabecalho__clicaveis {
    font-size: 1.1em;
    color: var(--cinza);
    font-weight: 500;
    background-color: var(--branco);
    border: none;
    cursor: pointer;
}

.cabecalho__mobile {
    display: none;
}

@media screen and (max-width: 1024px) {

    .cabecalho__desktop {
        display: none;
    }

    .cabecalho__mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
    }

    .cabecalho__mobile-principal {
        display: flex;
        justify-content: space-around;
        gap: 3.5em;
        padding-bottom: 1em;
        border-bottom: 1px solid var(--cinza-claro);
    }

    .cabecalho__item-link:active {
        color: var(--preto);
    }

    .cabecalho__bar-button {
        background-color: none;
        border: none;
        font-size: 1.5em;
    }

    .cabecalho__botao {
        background-color: none;
        border: none;
        font-size: 1.5em;
    }

    .cabecalho__mobile-categorias {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5em;
        list-style: none;
        
    }

}





