.sobre {
    margin: 5em 10em;  
    display: flex; 
}

.sobre__titulo {
    padding-bottom: 1em;
    font-size: 3em;
}

.imagem {
    margin-left: 4em;
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

@media screen and (max-width: 1024px) {

    .sobre {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        margin: 0;
        text-align: center;
    }

    .sobre__titulo {
        margin-top: 2em;
    }

    .sobre__textos {
        margin-bottom: 3em;
        padding: 0 2em;
    }

    .imagem {
        margin-left: 0;
        width: 350px;
        height: 350px;
        border-radius: 20px;
        margin-bottom: 2em;
    }

}


