@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url(/css/header.css);
@import url(/css/compre-conosco.css);
@import url(/css/entrega.css);

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --branco: #fff;
    --preto: #000;
    --cinza: #464646;
    --azul: #5F9DF7;
    --cinza-botao: #D8D9CF;
    --verde: #54B435;
    --cinza-claro: #dddddd;
    --cinza-branco: #f0f0f0;
}